/CookDroid/CookDroid/src/main/bin
/CookDroid/CookDroid/.idea
/CookDroid/CookDroid/target
/CookDroid/CookDroid/src/main/.classpath
/CookDroid/CookDroid/src/main/.settings
/CookDroid/CookDroid/src/main/.project
/CookDroid/CookDroid/*.iml
/CookDroid/*.iml
/*.iml
/.idea
/out/production/
/CookDroid/CookDroid/src/main/gen/com/op/cookit/BuildConfig.java

/CookDroid/CookDroid/src/main/gen/com/op/cookit/Manifest.java

/CookDroid/CookDroid/src/main/gen/com/op/cookit/R.java

/.gradle
